body {
   background-image: url("../images/CrystalGem.jpg");
}

#theme {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    
}


.crystal-image {
    width: 300px;
    height: 300px;
}
#number-to-guess{
    font-size: 20px;
}
.container {
    vertical-align: center;
}
#crystals {
    width: 60%;
    margin: 0 auto;
}
.crystal-image{
    width: 25%;
    height:150px;
}
.powerBox {
    
    vertical-align: middle;
    font-size: 20px;
    padding-top: 15px;
    height: 60px;
    background: rgba(77, 255, 255, 0.5);
    border: 3px solid yellow;
}
.jumbotron {
    background: rgba(77, 255, 255, 0.5);
    border: 3px solid yellow;

}
.wins {
        float: right;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
        padding-top: 15px;
        height: 60px;
        background: rgba(77, 255, 255, 0.5);
        border: 3px solid yellow;
    }
